{% if site.data.comments %}
{% assign folder = page.url | slugify %}

{% if site.data.comments[folder] %}
<div class="thread-comments">
	{% assign comments = site.data.comments[folder] | sort %}
	
	{% for comment in comments reversed %}
		{% assign commentData = comment[1] %}
		
    <div class="comment">
	<div class="comment_user">{{ commentData.name }}</div>
	<div style="clear:both;"></div>
	<div class="comment_message">
		{{ commentData.message | xml_escape | markdownify }}
     </div>
   </div>
	{% endfor %}
</div>
{% endif %}
{% endif %}