<script>
(function() {
	var navStartTop = eNav.getBoundingClientRect().top, lastScrollOffset = 0, scrollAccum = 0;
	var header = document.getElementsByTagName("HEADER")[0];
	function HandleHeaderScroll()
	{
		var offset = window.pageYOffset || document.documentElement.scrollTop;
		var delta = offset - lastScrollOffset;
		if(delta*scrollAccum < 0) scrollAccum = 0;
		if(offset < 200) header.style.top = "0";
		else
		{
			scrollAccum += delta;
			if(offset > 250)
			{
				if(scrollAccum < -80 || lastScrollOffset <= 250) header.style.top = -(navStartTop - 10) + "px";
				else if(scrollAccum > 150) header.style.top = "-150px";
			}
		}
		lastScrollOffset = offset;
	}
	if(window.addEventListener) {
		window.addEventListener('scroll', HandleHeaderScroll);
		document.addEventListener('focusin', function (e) {
			if(lastScrollOffset < 200) return;
			if(e.target.tagName === "INPUT")
			{
				var type = e.target.getAttribute("type");
				if(type != "text" && type != "number") return;
			}
			else if(e.target.tagName !== "TEXTAREA") return;
			document.getElementsByTagName("HEADER")[0].style.top = "-150px";
		});
	}
	else {
		var prev = window.onscroll;
		window.onscroll = function() {if(prev) prev(); HandleHeaderScroll();}
	}
}());
</script>
