input:focus, textarea:focus {
 background: white;
 border:1px solid #26f;
 box-shadow: 0 0 3px #aaa;
}

input[type="text"], input[type="number"] {
	padding: 8px;
	height:30px;
}

textarea {
	padding:8px;
}

input, textarea {
   border: 1px solid #ccc;
   border-radius: 5px;
   background: white !important;
   outline: none;
   font-size: 100%;
}
