<meta charset="utf-8"/>
<noscript><font size=4 color=red><b>Для работы синтезатора включите JavaScript в браузере!</b></font></noscript>
<p>
	<label>
	<input type="radio" name="midi_source" id="eUrl" value="url" checked/>
	<span>URL MIDI-файла:</span>
	</label> 
	<input type="text" id="eMidiUrl" autocorrect="off" style="width:70%" value="./Skaters Waltz">
</p>

<p>
	<label>
	<input type="radio" name="midi_source" id="eFile" value="file"/>
	<span>Локальный файл:</span>
	</label> 
	<input type="file" id="eMidiFile" style="width:70%" onChange="eFile.checked=true" accept=".mid,.midi,audio/mid,audio/midi"/>
</p>

<label>
<input type="checkbox" id="eUseStreaming">
<span>Синтез в реальном времени</span>
</label>
<p>
	<button id="play" class="button green" onclick="if(gScript.loaded) PlayMidi(); else gAutoPlay=true;">Проиграть</button>
	<button id="stop" class="button" onclick="StopAllSounds()">Стоп</button>
	<button id="download" class="button blue_alt" onclick="GetUrl(Download)">Скачать MIDI</button>
</p>
<hr>
<div id="eOutput"></div>
<hr>
<script type="text/javascript">
var gScript = document.createElement('script');
gScript.src = "MusicSynthesizer.js";

gScript.loaded = false;
var gAutoPlay = false;
var Module = {
	onRuntimeInitialized: function() {
		gScript.loaded = true;
		Module['print'] = function(text)
		{
			if(arguments.length>1) text = Array.prototype.slice.call(arguments).join(' ');
			if(text.replace===undefined) return;
			text = text.replace(/&/g, "&amp;");
			text = text.replace(/</g, "&lt;");
			text = text.replace(/>/g, "&gt;");
			text = text.replace('\n', '<br/>', 'g');
			console.log(text);
			if(window.eOutput)
			{
				eOutput.innerHTML += text + "<br/>";
				eOutput.scrollTop = eOutput.scrollHeight;
			}
		};
		Module['printErr'] = window.PrintError = function(text)
		{
			if(arguments.length>1) text = Array.prototype.slice.call(arguments).join(' ');
			if(text.replace===undefined) return;
			text = text.replace(/&/g, "&amp;");
			text = text.replace(/</g, "&lt;");
			text = text.replace(/>/g, "&gt;");
			text = text.replace('\n', '<br/>', 'g');
			console.log(text);
			if(window.eOutput)
			{
				eOutput.innerHTML += "<font color=red>" + text + "</font><br/>";
				eOutput.scrollTop = output.scrollHeight;
			}
		};
		if(gAutoPlay) PlayMidi();
	}
};
document.body.appendChild(gScript);

{% include yadisk.js %}

if(location.search)
{
	var url = location.search.substr(1);
	gAutoPlay = url.indexOf('!') == 0;
	if(gAutoPlay) url = url.substr(1);
	var useStreaming = url.indexOf('~') == 0;
	if(useStreaming) url = url.substr(1);
	eMidiUrl.value = decodeURIComponent(url);
	eUseStreaming.checked = useStreaming;
}
if(!(window.AudioContext || window.webkitAudioContext))
{
	eOutput.innerHTML = "<font color=red size=4><b>Этот браузер не поддерживает Web Audio API! Попробуйте последние версии Chrome, Firefox, Opera, Edge</b></font>";
}
	
	
function StopAllNonStreamedSounds()
{
	if(Module.gWebAudioInstanceArray === undefined) return;
	if(Module.gWebAudioBufferArray.length >= 3) alert("Bug: Very large sound array length: " + Module.gWebAudioBufferArray.length);
	if(Module.gWebAudioInstanceArray.length >= 3) alert("Bug: Very large sound instance array length: " +Module.gWebAudioInstanceArray.length);
	var i;
	for(i=0; i<Module.gWebAudioInstanceArray.length; i++)
	{
		if(Module.gWebAudioInstanceArray[i] == null) continue;
		Module.gWebAudioInstanceArray[i].stop();
		Module.gWebAudioInstanceArray[i] = null;
	}
}
	
function StopAllStreamedSounds()
{
	if(Module.gWebAudioStreamArray === undefined) return;
	if(Module.gWebAudioStreamArray.length >= 3) alert("Bug: Very large streamed sound array length: " + Module.gWebAudioStreamArray.length);
	var i;
	for(i=0; i<Module.gWebAudioStreamArray.length; i++)
	{
		var snd = Module.gWebAudioStreamArray[i];
		if(snd==null || !snd.__is_playing) continue;
		snd.disconnect(Module.gWebAudioContext.destination);
		snd.__is_playing = false;
		Module.gWebAudioStreamArray[i] = {__is_playing: false};
	}
}
	
function StopAllSounds()
{
	StopAllNonStreamedSounds();
	StopAllStreamedSounds();
}
	
function GetUrl(onSuccess)
{
	var url = eMidiUrl.value;
	var rel = url.substr(0, 2) == './';
	if(rel)
	{
		url = "https://yadi.sk/d/-chbqBzK3NLGpU" + url.substr(1);
		if(url.substr(-5) != ".midi" && url.substr(-4) != ".mid") url += ".mid";
	}
	
	if(url.substr(0, 10) == "yadi.sk/d/") url = "https://" + url;
	if(url.substr(0, 18) == "https://yadi.sk/d/")
	{
		var path;
		var nextSlashIndex = url.indexOf("/", 18);
		if(nextSlashIndex > 17)
		{
			path = url.substr(nextSlashIndex);
			url = url.substr(0, nextSlashIndex);
		}
		YandexDisk.GetDownloadLink(url, path, onSuccess);
		return;
	}
	
	if(url.charAt(0) == '/') url = document.domain + url;
	if(url.substr(0, 7) != 'http://' && url.substr(0, 8) != 'https://')
	{
		if(rel) url = window.location.protocol + "//" + url;
		else url = 'http://' + url;
	}
	onSuccess(url);
}

function PlayMidi()
{
	StopAllSounds();
	
	eOutput.value = '';
	var useStreaming = eUseStreaming.checked;
	eOutput.innerHTML = '';
	
	var urlChecked = eUrl.checked;
	
	if(urlChecked)
	{
		GetUrl(function(url) {
			var outPtr = Module._malloc(url.length*2);
			stringToUTF8(url, outPtr, url.length*2);
			Module._PlayUrl(outPtr, useStreaming);
			Module._free(outPtr);
		});
	}
	else
	{
		var midiFiles = eMidiFile.files;
		if(midiFiles.length==0) return;
		var reader = new FileReader();
		reader.onload = function(e)
		{
			var inArr = new Uint8Array(e.target.result);
			var outPtr = Module._malloc(inArr.length);
			Module.HEAPU8.subarray(outPtr, outPtr+inArr.length).set(inArr);
			Module._PlayMidiFileInMemory(outPtr, inArr.length, useStreaming);
			Module._free(outPtr);
		};
		reader.readAsArrayBuffer(midiFiles[0]);
	}
}

function Download(url)
{
	var hiddenIFrameID = 'hiddenDownloader';
	var iframe = document.getElementById(hiddenIFrameID);
	if(iframe===null)
	{
		iframe = document.createElement('iframe');
		iframe.id = hiddenIFrameID;
		iframe.style.display = 'none';
		document.body.appendChild(iframe);
	}
	iframe.src = url;
}
</script>

