
.file_upload {
    display: block;
    position: relative;
    overflow: hidden;
}
.file_upload .button, .file_upload > mark{
    display: block;
}
.file_upload .button{
    float: left;
}
.file_upload > mark{
    background: transparent;     /* example */
    padding-left: 1em;            /* example */
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
.file_upload input[type=file]{
    position: absolute;
    top: 0;
    opacity: 0
}

/* Making it beautiful */

.file_upload{
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.1s linear
}
.file_upload.focus{
    box-shadow: 0 0 5px rgba(0,30,255,0.4)
}
