table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 7px;
}
table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 100%;
}

td, th {
	border: 1px solid #ddd;
    padding: 8px;
	overflow: hidden;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4A3;
    color: white;
}

table tr:nth-child(odd){background-color: #f0f8e8;}
table tr:nth-child(even){background-color: #e4f8d8;}

tbody.clickable tr
{
	cursor: pointer;
	transition: background-color 0.5s;
}

tbody.clickable tr:hover {background-color: #d8d8ff;}

tbody.clickable td a {
	display: block;
	margin: -10em;
	padding: 10em;
}

tbody.clickable tr:hover a {
	color: #11A344;
}


