---
---

<!DOCTYPE html>
<html>
<head>
{% include meta.html %}
<!--[if lte IE 8]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<![endif]-->
<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}{% if site.description %} – {{ site.description }}{% endif %}</title>
{% include main-style.html %}
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>

<body>
<header class="clearfix">
  <div id="eSiteInfo">
    <h1 id="eSiteName"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
    <!--<p class="eSiteDesc">{{ site.description }}</p>-->
  </div>

  <nav id="eNav">
    <a href="{{ site.baseurl }}/">Home</a>
    <a href="{{ site.baseurl }}/blog">Blog</a>
    <a href="{{ site.baseurl }}/projects/">Projects</a>
  </nav>
</header>
<div class="header-img-wrapper">
<img src="{{ site.baseurl }}/images/header.jpg">
</div>

<div id="main" role="main" class="container">
{{ content }}
</div>


<div class="wrapper-footer"><div class="container"><footer class="footer"><div class="social-share">
	{% capture url %}{{ site.url }}{{ site.baseurl }}{{ page.url }}{% endcapture %}
	{% capture description %}{% if site.description %}{{ site.description }}{% else %}{{ site.name }}{% endif %}{% endcapture %}
	{% capture title %}{% if page.title %}{{ page.title }}{% endif %}{% endcapture %}
	
  <p>
	  <a class="soc-share vkontakte" href="http://vk.com/share.php?url={{url}}&&description={{description}}" title="Share in VKontakte" target="_blank">ВКонтакте</a>
    <a class="soc-share facebook" href="http://www.facebook.com/sharer.php?url={{url}}" title="Share in Facebook" target="_blank">Facebook</a>
    <a class="soc-share twitter" href="https://twitter.com/share?url={{url}}&text={{title}}&via=&hashtags=" title="Share in Twitter" target="_blank">Twitter</a>
	</p>
	{% include svg-icons.html %}
</div></footer></div></div>
	
{% include header-hide-script.html %}
{% include yametrics.html %}
<link rel="stylesheet" href="/styles.css"/>
</body>
</html>
